<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.piu1920.healthapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--QR CODE-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <uses-library android:name ="org.apache.http.legacy" android:required ="false"/>
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".login.RegistrationActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.DashboardActivity" />
        <activity android:name=".recycler.ExerciseActivity" />
        <activity android:name=".recycler.NutritionActivity" />
        <activity android:name=".calorie.CalorieActivity" />
        <activity android:name=".bmi.BMIActivity" />
        <activity android:name=".GestioneClientiActivity" />
        <activity android:name=".CreateSchedaActivity" />
        <activity android:name="me.ydcool.lib.qrmodule.activity.QrScannerActivity"/>
    </application>

</manifest>